<div class="container">
	<div class="row">
		<h3 style="text-align:center;">ふるさと探検について</h3>
		<div class="col-lg-1"></div>
		<div class="col-lg-4">
			<p style="margin-top:30px; line-height:3;"><strong>観光地をテーマにしたSNSサイトです。</strong><br>都道府県から今住んでいる身近な観光地まで、実際に観光して感じたもの、楽しかったこと、また行きたいと思ったものなど思い出として残していけます。<br>そして、それが多くの方々が共有することで、行ってみたい、見てみたい、食べてみたいなど新しい発見ができれば幸いです。</p>
		</div>
		<div class="col-lg-1"></div>
		<div class="col-lg-5">
			<div class="about-image-1" style="margin-top:30px;">
				<%= image_tag 'sakura-53e2d14b43_640.jpg', :width => '100%', :height => '300' %>
			</div>
		</div>
		<div class="col-lg-1"></div>
	</div>
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-5">
			<div class="about-image-2"style="margin-top:30px;">
				<%= image_tag 'RED19428B011_TP_V.jpg', :width => '100%', :height => '300' %>
			</div>
		</div>
		<div class="col-lg-1"></div>
		<div class="col-lg-4">
			<p style="margin-top:30px; line-height:3;"><strong>地元の新発見、再発見ができます。</strong><br>
			住みなれた街にもまだ見ていないものがあるかもしれない。長く住んでいるからこそ、その地域を深く知り、近くに好きなものが増えれば幸せです。<br>
			遠くに行かなくても、近くに自分が見ていない新しいものが好きになるかも。
			</p>
		</div>
		<div class="col-lg-1"></div>
	</div>
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-4">
			<p style="margin-top:30px; line-height:3;"><strong>離れたところ、雰囲気を知りたい。</strong><br>旅行といえば、家族と、恋人と、はたまた一人でゆっくり、なんて理想のシチュエーションは様々です。そんなシチュエーションに合った場所が見つかれば、旅行の雰囲気も盛り上がるはず！
			離れた場所でもシチュエーションに合わせて、行き先を考えるにもぜひ参考にしてください。</p>
		</div>
		<div class="col-lg-1"></div>
		<div class="col-lg-5">
			<div class="about-image-1" style="margin-top:30px;">
				<%= image_tag 'kum07012030_TP_V.jpg', :width => '100%', :height => '300' %>
			</div>
		</div>
		<div class="col-lg-1"></div>
	</div>
</div>