<div class="top-container">
			<div class="theTarget">
		      <div>
		      	<%= image_tag 'ROGO.jpeg', :width => '100%', :height => '700' %>
		      </div>
		      <div>
		      	<%= image_tag 'photo-1557409518-691ebcd96038.jpeg', :width => '100%', :height => '700' %>
		      </div>
		      <div>
		      	<%= image_tag 'photo-1493780474015-ba834fd0ce2f.jpeg', :width => '100%', :height => '700' %>
		      </div>
		      <div>
		      	<%= image_tag 'photo-1526481280693-3bfa7568e0f3.jpeg', :width => '100%', :height => '700' %>
		      </div>
	    	</div>
</div>