<div class="container">
	<div class="row">
		<!--検索機能-->
		<div class="col-xs-4">
			<%= render 'search_rank', search_post: @search_post, post: @post, all_rank: @all_rank %>
		</div>
		<!--一覧-->
		<div class="col-xs-8">
			<h4>最近の出来事</h4>
			<% @posts.each do |post| %>
				<%= render 'post_list', post: post %>
			<% end %>
		</div>
	</div>
</div>