<div class="container">
	<div class="row">
		<h1 class="post-new-title">新規投稿</h1>
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<!--投稿（テキスト）-->
			<%#= form_for(@post) do |f| %>
				<%= render 'new-edit', post: @post %>
			<%# end %>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>